:root {
  --color-background-main: #fff;
  --color-background-invert: #08090a;
  --color-text-main: #fff;
  --color-text-invert: #08090a;
  --color-text-soft: rgba(8, 9, 10, 0.8);
  --color-text-sub: rgba(8, 9, 10, 0.6);
  --color-muted: rgba(8, 9, 10, 0.5);
  --color-border-sub: rgba(8, 9, 10, 0.07);
  --color-background-soft: rgba(8, 9, 10, 0.03);
  --color-border-surface: rgba(8, 9, 10, 0.05);
  --color-border-soft: rgba(8, 9, 10, 0.15);
  --color-brand: #0c8c5e;
  --color-brand-light: #0c8c5e;
  --color-border-solid: #08090a;
  --color-muted-invert: rgba(255, 255, 255, 0.5);
  --twoslash-border-color: #dbdfde;
  --twoslash-underline-color: currentColor;
  --twoslash-popup-bg: #f3f7f6;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;
  --twoslash-highlighted-border: rgba(195, 125, 13, 0.314);
  --twoslash-highlighted-bg: rgba(195, 125, 13, 0.125);
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: rgba(136, 136, 136, 0.533);
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: rgba(212, 86, 86, 0.125);
  --twoslash-warn-color: #c37d0d;
  --twoslash-warn-bg: rgba(195, 125, 13, 0.125);
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: rgba(55, 114, 207, 0.125);
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: rgba(27, 166, 115, 0.125);
  --twoslash-text-size: 0.8rem;
  --twoslash-docs-tag-style: italic;
  --color-red-600: #e40014;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-600: #4a5565;
  --color-gray-800: #1e2939;
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-xl: 36rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --tracking-widest: 0.1em;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --blur-md: 12px;
  --blur-lg: 16px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-inter);
  --default-mono-font-family: var(--font-geist-mono);
  --color-background-main: var(--color-background-main);
  --color-text-main: var(--color-text-main);
  --color-text-soft: var(--color-text-soft);
  --color-text-sub: var(--color-text-sub);
  --color-border-sub: var(--color-border-sub);
  --color-background-soft: var(--color-background-soft);
  --color-border-surface: var(--color-border-surface);
  --color-muted: var(--color-muted);
  --color-border-soft: var(--color-border-soft);
  --color-brand: var(--color-brand);
  --color-background-invert: var(--color-text-main);
  --color-text-invert: var(--color-background-main);
  --color-border-solid: var(--color-border-solid);
  --color-muted-invert: var(--color-muted-invert);
  --mask-right: black 100%;
  --mask-left: black 0px;
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback", monospace;
}

* {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family:
    "Inter Variable",
    system-ui,
    -apple-system,
    sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  backdrop-filter: blur(16px);
}

.header-container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 105px;
  align-items: center;
  justify-content: space-between;
}

.header-logo-wrap {
  position: relative;
  display: inline-block;
}

.header-logo-wrap .header-logo-default {
  display: block;
}

.header-logo-wrap .header-logo-scrolled {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.center {
  min-width: 480px;
  height: 32px;
}

.center ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.center li {
  height: 32px;
  padding: 60;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.header-center-main {
  text-align: center;
  text-decoration: none;
  color: #fff;
  height: 32px;
  padding: 4px 12px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}

.right {
  width: 272.08px;
  height: 33.5px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.right-container {
  width: 248.609px;
  height: 33.5px;
  display: flex;
  gap: 0.5rem;
}

.right-container a {
  text-decoration: none;
  height: 33.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1.5);
  padding: 4.5px 12px;
  border-radius: 3.40282e38px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.right-btn-ghost {
  width: 123.47px;
  background-color: lab(100% 0 0 / 0.05);
  border: 1px solid lab(100% 0 0 / 0.05);
  color: #fff;
}

.right-btn-sec {
  width: 117.14px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #08090a;
}

.main {
  position: relative;
  isolation: isolate;
  height: 1135.53px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.bg-img {
  background-image: url(https://www.mintlify.com/hero/bg-light.svg);
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.main-hero-section {
  height: 279.188px;
  margin-top: 104px;
  margin-bottom: 96px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  top: 5%;
}

.hero-title {
  letter-spacing: -0.02em;
  font-size: max(2.5rem, min(4vw, 4rem));
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  --tw-leading: 115%;
  line-height: 115%;
  width: 688px;
  height: 125.69px;
}

.hero-heading {
  font-size: var(--text-lg);
  line-height: 150%;
  max-width: 29.5rem;
  margin-top: calc(var(--spacing) * 6);
}

.hero-form {
  backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
    var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
    var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
    var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
    var(--tw-backdrop-sepia,);
  background-color: #ffffff26;
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-radius: 3.40282e38px;
  gap: calc(var(--spacing) * 1.5);
  max-width: 22.5rem;
  width: 360px;
  height: 43.5px;
  margin-top: calc(var(--spacing) * 8);
  padding: 4px;
  display: flex;
  align-items: center;
}

.hero-form input {
  --tw-outline-style: none;
  outline-style: none;
  color: #fff;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 150%;
  line-height: 150%;
  font-size: 15px;
  width: 100%;
  height: calc(var(--spacing) * 8);
  padding: 0 12px;
  background-color: transparent;
}

.hero-form button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  width: 94.54px;
  height: 35.5px;
  padding: 4.5px 12px;
  background-color: #fff;
  color: #08090a;
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-radius: 3.40282e38px;
  gap: calc(var(--spacing) * 1.5);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: 15px;
  --tw-shadow: 0px 2px 4px 0px
    var(--tw-shadow-color, var(--color-background-soft));
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.hero-form input::placeholder {
  color: #fff;
  opacity: 1;
}

.main-hero-img {
  margin: 0 135.5px;
  max-width: 67.5rem;
  margin-inline: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 20);
  position: relative;
  display: block;
}

.company-container {
  height: 374px;
  padding: 72px 32px 144px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.company-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: calc(var(--spacing) * 2);
  width: 1024px;
  height: 100px;
}

.company-logo-svg {
  width: 250px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  width: 1024px;
  margin: auto;
  margin-bottom: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing) * 8);
}

.feature-container {
  width: 1024px;
  height: 204px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 4);
}

.feature-heading {
  text-align: center;
  --tw-leading: 110%;
  --tw-font-weight: var(--font-weight-semibold);
  line-height: 110%;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-main);
  letter-spacing: -0.02em;
  font-size: max(1.75rem, min(4vw, 2.5rem));
}

.feature-text {
  color: #08090acc;
  max-width: 40.5rem;
  width: 648px;
  height: 48px;
  text-align: center;
  font-size: 16px;
}

.feature-container-bottom {
  width: 1024px;
  height: 545.2px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 6);
}

.feature-card-top {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing) * 6);
  gap: calc(var(--spacing) * 4);
  width: 480.94px;
  height: 201.2px;
}

.feature-card-toptext {
  text-transform: uppercase;
  color: #0c8c5e;
  --tw-tracking: 0.6px;
  letter-spacing: 0.6px;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 150%;
  line-height: 150%;
  font-size: var(--text-xs);
  font-family: var(--font-geist-mono);
}

.feature-card-heading {
  --tw-tracking: -0.24px;
  letter-spacing: -0.24px;
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  color: #08090a;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 130%;
}

.feature-card-bottext {
  color: #08090acc;
  font-size: var(--text-base);
  line-height: 1.5;
}

.card {
  width: 494.94px;
  height: 535.2px;
  padding: 6px;
  border: 1px solid #08090a12;
  border-radius: var(--radius-3xl);
}

.feature-container-bottom-2 {
  border: 1px solid blue;
  width: 100%;
  height: 664.8px;
  border: 1px solid #08090a12;
  border-radius: var(--radius-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature-bottom-top {
  width: 1010px;
  height: 225.2px;
  padding: 48px 32px;
  margin: 6px 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: calc(var(--spacing) * 4);
}

.feature-card-bottom-toptext {
  text-transform: uppercase;
  color: #0c8c5e;
  --tw-tracking: 0.6px;
  letter-spacing: 0.6px;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 150%;
  line-height: 150%;
  font-size: var(--text-xs);
  font-family: var(--font-geist-mono);
  width: 70.2px;
  text-align: center;
  text-wrap: balance;
}

.feature-bottom-heading {
  --tw-tracking: -0.24px;
  letter-spacing: -0.24px;
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  color: #08090a;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 130%;
  text-align: center;
  height: 31.2px;
}

.feature-card-bottom-bottext {
  color: #08090acc;
  text-wrap: balance;
  font-size: var(--text-base);
  line-height: 1.5;
  text-align: center;
  max-width: 40rem;
}

.enterprises {
  background-color: #08090a08;
  height: 1298px;
  padding: 96px 0;
}

.enterprises-container {
  max-width: var(--container-5xl);
  margin-left: auto;
  margin-right: auto;
  height: 1106px;
}

.enterprises-top {
  padding-bottom: calc(var(--spacing) * 12);
  gap: calc(var(--spacing) * 6);
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  height: 210px;
}

.enterprises-top-left {
  width: 640px;
  height: 162px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.enterprises-top-left h4 {
  color: #0c8c5e;
  --tw-tracking: 0.6px;
  letter-spacing: 0.6px;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 150%;
  line-height: 150%;
  font-size: var(--text-xs);
  font-family: var(--font-geist-mono);
  text-wrap: balance;
}

.enterprises-top-left h3 {
  text-align: left;
  --tw-leading: 110%;
  --tw-font-weight: var(--font-weight-semibold);
  line-height: 110%;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-main);
  letter-spacing: -0.02em;
  font-size: max(1.75rem, min(4vw, 2.5rem));
}

.enterprises-top-left p {
  color: #08090acc;
}

.enterprises-right {
  width: 214.28px;
  height: 40px;
  margin: 122px 4px 0 0;
  padding: 7px 24px;
  color: #fff;
  white-space: nowrap;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-base);
  line-height: 150%;
  background-color: #08090a;
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-radius: 3.40282e38px;
  display: inline-flex;
  gap: calc(var(--spacing) * 1.5);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  text-decoration: none;
}

.enterprises-center-left {
  width: 434.27px;
  height: 178px;
}

.enterprises-center svg {
  width: 32px;
  height: 32px;
}

.enterprises-center-left h4,
.enterprises-center-right h4 {
  color: #08090a;
  --tw-tracking: -0.2px;
  letter-spacing: -0.2px;
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-xl);
  line-height: calc(var(--spacing) * 6.5);
  margin-bottom: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 8);
  text-wrap: balance;
}

.enterprises-center-left p,
.enterprises-center-right p {
  color: var(--color-text-soft);
  height: 72px;
}

.enterprises-center-right {
  width: 541.73px;
  height: 178px;
}

.enterprises-center-right h4 {
  width: 541.73px;
  height: 26px;
}

.enterprises-bottom {
  height: 622px;
  overflow: hidden;
}

.enterprises-bottom-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  height: 622px;
}

.enterprises-bottom-top-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  width: 1024px;
  height: 622px;
}

.enterprises-bottom-top-container a {
  text-decoration: none;
}

.enterprises-bottom-top {
  width: 1024px;
  height: 518px;
  padding: 64px 64px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: var(--radius-3xl);
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.enterprises-bottom-top img {
  width: 1177.6px;
  height: 595.7px;
  object-position: center;
  position: absolute;
  color: transparent;
  backface-visibility: hidden;
  object-fit: cover;
  inset: 0;
}

.enterprises-bottom-top p {
  text-transform: uppercase;
  color: #fff;
  --tw-tracking: 0.6px;
  letter-spacing: 0.6px;
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-xs);
  line-height: calc(var(--spacing) * 4.5);
  font-family: var(--font-geist-mono);
  z-index: 10;
  position: relative;
  width: auto;
}

.enterprises-bottom-top h3 {
  color: #fff;
  --tw-tracking: -0.24px;
  letter-spacing: -0.24px;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  max-width: 28rem;
  margin-top: calc(var(--spacing) * 4);
  z-index: 10;
  position: relative;
}

.enterprises-bottom-top-1 {
  color: #fff;
  width: 92.73px;
  height: 22.5px;
  margin-top: calc(var(--spacing) * 8);
  z-index: 10;
}

.enterprises-bottom-top-1 span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  text-align: center;
  line-height: 150%;
}

.enterprises-bottom-top-1 svg {
  height: 10px;
  width: 10px;
  rotate: -90deg;
}

.enterprises-bottom-bottom-1 {
  width: 896px;
  height: 100px;
  display: flex;
  align-items: start;
  position: relative;
  z-index: 10;
  gap: calc(var(--spacing) * 7);
  margin-top: 137.5px;
}

.enterprises-bottom-bottom-1-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.enterprises-bottom-bottom-1-container .top-same {
  color: #fff;
  --tw-tracking: -0.8px;
  letter-spacing: -0.8px;
  --tw-leading: 110%;
  line-height: 110%;
  font-size: 2.5rem;
  text-wrap: pretty;
}

.enterprises-bottom-top p {
  text-transform: uppercase;
  color: #fff;
  --tw-tracking: 0.6px;
  letter-spacing: 0.6px;
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-xs);
  line-height: calc(var(--spacing) * 4.5);
  font-family: var(--font-geist-mono);
  z-index: 10;
  position: relative;
  width: auto;
}

.enterprises-bottom-bottom {
  width: 1072px;
  height: 88px;
  width: -24px 0;
}
